* {
  color: #111
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 80px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
}

.hour {
  background-color: #ffffff;
  font-weight: bold;
  font-size: larger;
  padding-top: 30px;
  padding-left: 20px;
  /* text-align: center;s */
  /* justify-content: center; */
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0c91e9;
  font-size: 1.9em;
}

.saveBtn i:hover {
  font-size: 2.1em;
  transition: all .3s ease-in-out;
}
